.banner-six{
	.title{
		font-weight: 700;
		font-size: 85px;
		line-height: 97px;
		text-transform: uppercase;
		font-family: 'Oswald';
		padding-top: 37px;
			@include respond('wide-desktop'){
				font-size:80px;
				padding-top:35px;
			}
			@include respond('tab-land'){
				font-size: 65px;
				padding-top: 20px;
				line-height: 1.4;
			}
			@include respond('tab-port'){
				font-size: 53px;
				padding-top: 20px;
				line-height: 1.4;
			}
			@include respond('phone-land'){
				font-size: 38px;
				padding-top: 20px;
				line-height: 1.4;
			}
			@include respond('phone'){
				font-size: 25px;
			}
	}
	.inner-content{
		p{
		    font-size: 20px;
			padding-top: 15px;
			margin-bottom: 40px;
			line-height:1.8;
				@include respond('phone-land'){
					padding:0;
					margin-bottom:20px;
					font-size:16px;
				}
			@include respond('phone'){
				margin-bottom: 20px;
				font-size:16px;
			}
		}
		.contant-box{
			display:flex;
			align-items:center;
			@include respond('phone'){	
				.video-btn{ 
					&.style-1{
						span{
							display:none;
						}
					}
				}
			}	
		}
	}
	
	.overlay-black-light{
		&:before {
		opacity: 30%;
		background:#000;
		}
	}
	.dz-media img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	.banner-media{
		width: 50vw;
		margin-top:55px;
		@include respond('wide-desktop'){
			margin-top:50px;
		}
		@include respond('tab-port'){
			width: 100%;
		}
		@include respond('phone'){
			margin-top: 25px;
		}
	}	
}

.section-head{
	&.style-2 {
		@include respond('phone'){
			margin-bottom:0;
		}
	}
}

.new-page {
    padding: 2px 5px;
    font-size: 10px;
    background: var(--primary);
    color: #fff;
	font-weight:500;
    border-radius: 4px;
    vertical-align: middle;
    margin-left: 10px;
}

.section-head-bx{
	.section-head{ 
		&.style-2{
			margin-bottom:0;
		}
	}
}

.subscrible-bx{
	&.style-1{
	    position: relative;
		background-position:right bottom;
		background-size:cover;
		background-repeat:no-repeat;
			@include respond('phone-land'){
				background-position:unset;
			}	
		.ft-subscribe-wrapper {
			margin:0;
			padding:0;
			.section-head{
				margin-bottom:20px;
					@include respond('phone'){
						.title{
							font-size:26px;
						}
					}
			}
			.ft-subscribe{
				.input-group{
					.form-control{
						height: 70px;
						background-color: #fff;
						border-radius: 0;
						z-index: 1 !important;
						padding: 20px 35px;
						color: #636363;
						font-weight: 300;	
						letter-spacing: 2px;
						padding-right:12rem;
						position:relative;
						width:100%;
						@include respond('phone'){
							height: 50px;
							padding:10px 0 10px 10px;
							font-size:15px;
						}	
					}
					.btn{
						&.style-1{
							line-height: 0;
							top: -4px;
							right: 15px;
							position: absolute;
							padding: 23px 25px;
							@include respond('tab-port'){
								display:none;
							}
						}
						&.style-2{
							line-height: 0;
							top: -4px;
							right: 10px;
							position: absolute;
							padding: 15px 17px;
								@include respond('tab-port-min'){
									display:none;
								}
								@include respond('phone'){
									top: -8px;
									right: 8px;
									padding: 8px 10px;
								}
						}
					}
				}
			}
		}
	}
}