[dir='rtl']{
	
	.follow-info{
		.inner-info {
			margin-left: 0;
			margin-right:20px;
		}
	} 
	.animation-btn{ 
		a {
			left:unset;
			right: 5%;
		}
	}	
	
	.animation-btn a {
		position: absolute;
		top: 20%;
		right: 5%;
		z-index: 9999;
		left: unset;
	}

}