[dir='rtl']{ 

	//default
	
	.dz-meta{
		
		ul{
			li{
				margin-right: 0;
				margin-left: 20px;
				@include respond('tab-land'){
					margin-right: 0;
					margin-left: 5px;
				}	
			}	
		}	
	}
	.post-video .post-video-icon {
		left: 50%;
		padding-left: 0;
		padding-right: 5px;
	}
	
	//default
	
	//blog-post
	.dz-card{
		&.style-1{
			.dz-meta{
				ul{
					li{
						padding-left: 0;
						padding-right: 15px;
						&:after{
							left: auto;
							right: 0;
						}
					}	
				}	
			}
			.icon-btn{
				right: auto;
				left: 0;
			}
		}
		
		&.style-2{
			.dz-meta{
				left: auto;
				right: 0;
				ul{
					li{
						padding-left: 0;		
						padding-right: 15px;		
						&:after{
							left: auto;
							right: 0;
						}
					}	
				}	
			}
		}
		&.style-3{
			.dz-info{
				.dz-meta{
					ul{
						li{
							margin-right:unset;
							margin-left:15px;
							span{
								i{
									margin-left:5px;
									margin-right:unset;
								}
							}
							&:nth-child(3) {
								margin:0;
							}
						}	
					}
				}
				.icon-btn {
					right:86%;
				}	
			}
		}
	}
	.post-swiper{
		.prev-post-swiper-btn{
			right: auto;
			left: 0;
		}
		.next-post-swiper-btn{
			left: auto;
			right: 0;
		}
	}
	
	//blog-post

}