[dir='rtl']{
	
	// PRICING TABLE
	.no-col-gap .pricingtable-wrapper {
		margin-left: 0;
		margin-right: -1px;
	}

	// pricingtable-toggle
	.pricingtable-toggle{
		.custom-control-label{
			margin: 0 50px 0 35px;
		}
	}
	
}